## Introduction:
Continuing from the previous web scraping project, this project extends to the extraction, transformation, and loading (ETL) of NHL team statistics into a PostgreSQL database. By integrating web scraping techniques with database management, I aim to showcase a basic understanding of data pipeline development.

## Objective:
The primary objective is to extend the capabilities of the existing web scraper to extract NHL team statistics, transform the data into a suitable format, and load it into a PostgreSQL database. Specific goals include:

1. Enhancing the web scraper to extract NHL team statistics from relevant websites.
2. Transforming the extracted data into a structured format suitable for database storage.
3. Configuring a pipeline to PostgreSQL database.
4. Loading the data into the PostgreSQL database for future analysis.

In [1]:
# import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# get the url
url = 'https://www.scrapethissite.com/pages/forms/'

In [3]:
# check for page response
page = requests.get(url)
page

In [4]:
# parse the information on the page in html into BeautifulSoup
soup = BeautifulSoup(page.text, 'html')

In [5]:
# after inspecting the website, we found the data we will need under the table class
# let us select that class
table = soup.find('table')

In [6]:
# under the table class, we have the column names under the 'th' tag
# use find_all to select them
table_col_names = table.find_all('th')
table_col_names

[<th>
                             Team Name
                         </th>,
 <th>
                             Year
                         </th>,
 <th>
                             Wins
                         </th>,
 <th>
                             Losses
                         </th>,
 <th>
                             OT Losses
                         </th>,
 <th>
                             Win %
                         </th>,
 <th>
                             Goals For (GF)
                         </th>,
 <th>
                             Goals Against (GA)
                         </th>,
 <th>
                             + / -
                         </th>]

In [7]:
# select the names and store them as a list
col_names = [ name.text.strip() for name in table_col_names]
col_names

['Team Name',
 'Year',
 'Wins',
 'Losses',
 'OT Losses',
 'Win %',
 'Goals For (GF)',
 'Goals Against (GA)',
 '+ / -']

In [8]:
# set the column names for the dataframe
df = pd.DataFrame(columns = col_names)
df

Empty DataFrame
Columns: [Team Name, Year, Wins, Losses, OT Losses, Win %, Goals For (GF), Goals Against (GA), + / -]
Index: []

## The Loop
From here we are going to switch things up a bit. On the website, click on page 1 of the table and get the url for it.
The only thing that changes for each page url is the page number, hence the need for looping.
For each of those pages, we need to get response 200 and then parse them through beautifulsoup to get the html contents.

In [9]:
# Loop through 24 pages
for page_num in range(1, 25):
    url = 'https://www.scrapethissite.com/pages/forms/?page_num=1'
    
    # Fetch the webpage
    response = requests.get(url)
    if response.status_code != 200:
        print(f"Failed to fetch page {page_num}")
        continue
        
    # parse the information on the page in html into BeautifulSoup
    soup = BeautifulSoup(response.text, 'html')
    
    # Find the table containing the data you want to scrape
    table = soup.find('table')
    if not table:
        print(f"No table found on page {page_num}")
        continue
    
    # Find all rows in the table except the first one
    row_info = table.find_all('tr')
    for row in row_info[1:]:
        row_data = row.find_all('td')
        observations = [data.text.strip() for data in row_data]
        df.loc[len(df)] = observations

In [10]:
df.head()

,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,,0.55,299,264,35
1,Buffalo Sabres,1990,31,30,,0.388,292,278,14
2,Calgary Flames,1990,46,26,,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,,0.425,273,298,-25

In [11]:
df.shape

(600, 9)

We have successfully looped through the pages of the url, scraped the data, and stored it in a pandas dataframe.
We can then transform and load the data into our database.

## Transform the data

In [12]:
# check for null values
df.isnull().sum()

Team Name             0
Year                  0
Wins                  0
Losses                0
OT Losses             0
Win %                 0
Goals For (GF)        0
Goals Against (GA)    0
+ / -                 0
dtype: int64

In [13]:
# check for duplicates
df.duplicated().sum()

575

It is obvious that we will have duplicates because a particular team will appear more than once
because they must have played more than one game throughout this period.
We can verify that as shown below.

In [14]:
# check the team names for duplicates
df[df.duplicated(subset='Team Name', keep=False)]

,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,,0.55,299,264,35
1,Buffalo Sabres,1990,31,30,,0.388,292,278,14
2,Calgary Flames,1990,46,26,,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,,0.425,273,298,-25
...,...,...,...,...,...,...,...,...,...
595,Winnipeg Jets,1990,26,43,,0.325,260,288,-28
596,Boston Bruins,1991,36,32,,0.45,270,275,-5
597,Buffalo Sabres,1991,31,37,,0.388,289,299,-10
598,Calgary Flames,1991,31,37,,0.388,296,305,-9
599,Chicago Blackhawks,1991,36,29,,0.45,257,236,21

In [15]:
# drop the 'OT Losses' column
df.drop(columns='OT Losses', inplace=True)

In [16]:
# rename the '+/-' column 
df.rename(columns={'+ / -': 'PlusMinus'}, inplace=True)

In [17]:
# inspect the dataframe
df.head()

,Team Name,Year,Wins,Losses,Win %,Goals For (GF),Goals Against (GA),PlusMinus
0,Boston Bruins,1990,44,24,0.55,299,264,35
1,Buffalo Sabres,1990,31,30,0.388,292,278,14
2,Calgary Flames,1990,46,26,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,0.425,273,298,-25

In [18]:
# check the concise summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600 entries, 0 to 599
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Team Name           600 non-null    object
 1   Year                600 non-null    object
 2   Wins                600 non-null    object
 3   Losses              600 non-null    object
 4   Win %               600 non-null    object
 5   Goals For (GF)      600 non-null    object
 6   Goals Against (GA)  600 non-null    object
 7   PlusMinus           600 non-null    object
dtypes: object(8)
memory usage: 42.2+ KB

We can see that all the data types for the columns are objects. We need to convert the affected columns to numerics.

In [19]:
# define the object columns to ve converted
obj_columns = ['Year', 'Wins', 'Losses', 'Win %', 'Goals For (GF)', 'Goals Against (GA)', 'PlusMinus']

In [20]:
# Convert the specified columns to numeric type
df[obj_columns] = df[obj_columns].apply(pd.to_numeric)

In [21]:
# check to see the changes
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 600 entries, 0 to 599
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Team Name           600 non-null    object
 1   Year                600 non-null    int64
 2   Wins                600 non-null    int64
 3   Losses              600 non-null    int64
 4   Win %               600 non-null    float64
 5   Goals For (GF)      600 non-null    int64
 6   Goals Against (GA)  600 non-null    int64
 7   PlusMinus           600 non-null    int64
dtypes: float64(1), int64(6), object(1)
memory usage: 42.2+ KB

In [22]:
# how many times has each team played during this period?
df['Team Name'].value_counts()

Boston Bruins            48
Calgary Flames           48
Chicago Blackhawks       48
Buffalo Sabres           48
New York Rangers         24
Washington Capitals      24
Vancouver Canucks        24
Toronto Maple Leafs      24
St. Louis Blues          24
Quebec Nordiques         24
Pittsburgh Penguins      24
Philadelphia Flyers      24
New Jersey Devils        24
New York Islanders       24
Montreal Canadiens       24
Minnesota North Stars    24
Los Angeles Kings        24
Hartford Whalers         24
Edmonton Oilers          24
Detroit Red Wings        24
Winnipeg Jets            24
Name: Team Name, dtype: int64

## Load the data to the database

In [23]:
# import libraries to load into postgresql
import psycopg2
from sqlalchemy import create_engine

After this, go to PGAdmin on postgresql database and create a table where our data will be stored.
The table name is 'nhl_stats'.

In [24]:
# we now need to establish a connection between jupyter and the postgresql database
engine = create_engine('postgresql://postgres:****@localhost:5432/postgres')

#### Please note: I have masked my password for obvious reasons. 
But this is the format for establishing the connection to the postgres database: 
<span style = 'color:red'>create_engine('postgresql://username:password@host:port/db_name').</span></header>

In [25]:
# load the data into the table in the database
df.to_sql('nhl_stats', engine, if_exists = 'replace', index = False)

600

In [26]:
# close the database connection
engine.dispose()

## Results:

- Web scraper capable of extracting NHL team statistics from the paginated website.
- Transformed data in a structured format ready for database storage.
- Configured PostgreSQL database with appropriate tables and schema.
- ETL pipeline for seamless extraction, transformation, and loading of NHL team statistics into the database.

## Conclusion:

I have demonstrated a basic understanding of data pipeline development. The flow of data from extraction, transformation to loading in this scenario showcases the potential of integrating web scraping techniques with database management for real-world applications. This project serves as a foundational step towards more complex data engineering and analytics projects in the future.